@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: rgb(191, 188, 188);
    
}

header > h1 {
    padding: 10px;
    text-align: center;
}

#burguer {
    background-color: rgb(49, 46, 46);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}

#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(89, 89, 89, 0.892);
    color: white;
    border-top: 2px solid rgb(181, 178, 178);
}

menu > ul > li > a:hover {
    background-color: grey;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

article > h2 {
    padding-bottom: 20px;
    padding: 10px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}