@charset 'UTF-8';

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightgray;
}

header {
    background-color: gray;
    text-align: center;
    padding: 10px;
}
menu:hover {
   
    
}
main {
    text-indent: 15px;
    width: 90vw;
    background-color: white;
    text-align: justify;
    padding: 10px;
    margin: 20px;
    line-height: 15px;
    border-radius: 10px;
}